<%= link_to 'Edit', edit_artist_path(@artist)  %>
<h2><%= @artist.name %></h2>
<small><%= @artist.bio %></small>
<br>
<% if @artist.photos.attached? %>
  <% @artist.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<br>
<%= link_to "Instagram", @artist.instagram %>

<h2>Albums</h2>
<ul>
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.title, artist_album_path(@artist, album) %>
      - <%= album.release_date %>
    </li>
  <% end %>
</ul>

<h2>Other releases</h2>

<ul>
  <% @other_releases.each do |album| %>
    <li>
      <%= link_to album.title, artist_album_path(@artist, album) %>
      - <%= album.release_date %>
    </li>
  <% end %>
</ul>

<% if @artist.performers.count > 1 %>
  <h2>Performers</h2>
  <ul>
    <% @artist.performers.each do |performer| %>
      <li>
        <% if performer.artists.count == 1 %>
          <%= performer.full_name %> | <%= performer.date_of_birth %> | <%= performer.birth_location %>
        <% elsif performer.artists.count == 2 %>
          <% solo_artist = performer.artists.select { |a| a != @artist }%>
          <%= link_to performer.full_name, artist_path(solo_artist) %> | <%= performer.date_of_birth %> | <%= performer.birth_location %>
        <% else %>
          <%= link_to 'still need to figure out' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
