<h2><%= @artist.name %></h2>
<small><%= @artist.bio %></small>
<br>
<%= link_to "Instagram", @artist.instagram %>

<h3>------ Albums ------</h2>

<ul>
  <% @artist.albums.each do |album| %>
    <li>
      <%= link_to album.title, artist_album_path(@artist, album) %>
      - <%= album.release_date %>
    </li>
  <% end %>
</ul>
