<h2><%= @artist.name %></h2>
<small><%= @artist.bio %></small>
<br>
<% if @artist.photos.attached? %>
  <%= cl_image_tag @artist.photos.first.key, height: 300, width: 300, crop: :fill %>
<% end %>
<br>
<%= link_to "Instagram", @artist.instagram %>

<h2>Albums</h2>
<ul>
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.title, artist_album_path(@artist, album) %>
      - <%= album.release_date %>
    </li>
  <% end %>
</ul>

<h2>Other releases</h2>

<ul>
  <% @other_releases.each do |album| %>
    <li>
      <%= link_to album.title, artist_album_path(@artist, album) %>
      - <%= album.release_date %>
    </li>
  <% end %>
</ul>


<h2>Performers</h2>
<ul>
  <% @artist.performers.each do |performer| %>
    <li>
      <%= performer.full_name %> | <%= performer.date_of_birth %> | <%= performer.birth_location %>
    </li>
  <% end %>
</ul>

