<%= current_user.first_name %>

<h2>Your playlist</h2>
  <ul>
      <% @albums_to_listen.each do |album| %>
        <li data-album=<%= album.id %>>
          <%= link_to album.title, artist_album_path(album.artist, album) %> by <%= album.artist.name %>
          <%= link_to "✅", tick_path(album) %>
        </li>
      <% end %>
  </ul>

<h2>Your artists</h2>
<% @artists.each do |artist| %>
  <ul>
      <li> <%= link_to artist.name, artist_path(artist) %> </li>
  </ul>
<% end %>
