<div style="display: flex; justify-content: space-between;">
  <div>
    <h2><%= @album.title %></h2>
    <%= @album.category %>
    <br>
    <% if @album.cover.attached? %>
      <%= cl_image_tag @album.cover.key, height: 300, width: 300, crop: :fill %>
    <% end %>
  </div>
  <div>
    <h3>Add collaboration</h3>
    <%= simple_form_for @collaboration do |f| %>
      <%= f.input :song, as: :select, collection: @songs %>
      <%= f.input :artist, as: :select, collection: @artists %>
      <%= f.hidden_field :album, value: @album.id %>
      <%= f.hidden_field :singer, value: @artist.id %>
      <%= f.submit 'add' %>
    <% end %>
  </div>
</div>



<ul>
  <% @songs.each do |song| %>
    <li>
      <%= song.albumSongs.where(album: @album).first.track_number %> -
      <%= link_to song.title, artist_album_song_path(@artist, @album, song) %>
      <% unless song.collaborations == [] %>
        (Feat.
        <% song.collaborations.each_with_index do |collaboration, i| %>
          <% if i == song.collaborations.length - 1 %>
            <%= link_to collaboration.artist.name, artist_path(collaboration.artist) %>)
          <% elsif i == song.collaborations.length - 2 %>
            <%= link_to collaboration.artist.name, artist_path(collaboration.artist) %> &
          <% else %>
            <%= link_to collaboration.artist.name, artist_path(collaboration.artist) %>,
          <% end %>
        <% end %>
      <% end %>
      - <%= song.length %> seconds
    </li>
  <% end %>
</ul>


